#outputFinDiv{
    margin-bottom: 40px;
}

#containerOutput{
    max-height: 40vh;
    overflow-y: auto;
}

#containerOutput::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}

main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
main section{width: 45%;}
