<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Simulação de Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulação</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas id="candlestick" height="400"></canvas>
  <ion-card>
    <ion-card-content>
      <div><b>Saldo:</b> <span class="valor">R$ {{ saldo | number:'1.2-2' }}</span></div>
      <div><b>Preço BTC:</b> <span class="valor">R$ {{ preco | number:'1.2-2' }}</span></div>

      <ion-input
        type="number"
        [(ngModel)]="inputValue"
        placeholder="Qtd BTC"
      ></ion-input>

      <ion-button id="btn_comprar" (click)="comprar()">Comprar</ion-button>
      <ion-button id="btn_vender" (click)="vender()" disabled>Vender</ion-button>
      <ion-button (click)="getMax()">Max</ion-button>

      <div *ngIf="estadoPosicao">
        <b>BTC na posição:</b> <span class="valor">{{ btc | number:'1.6-6' }}</span><br>
        <b>Preço de entrada:</b> <span class="valor">R$ {{ precoEntrada | number:'1.2-2' }}</span><br>
        <b>Lucro/Prejuízo atual:</b>
        <span [class.lucro]="lucroAtual >= 0" [class.prejuizo]="lucroAtual < 0">
          R$ {{ lucroAtual | number:'1.2-2' }}
        </span>
      </div>
    </ion-card-content>
  </ion-card>




  <script type="module" src="./dist/index.js"></script>
</ion-content>
