<ion-menu side="start" contentId="main-content">
  <div>
    <ion-img src="../../../assets/FlowyIcon.png.png" ></ion-img>
    <h1>Flowy</h1>
  </div>
  <ion-content>
    <ion-list lines="none">
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon src="../../../assets/icons/bootstrap_shield-check.svg"></ion-icon>
        <h1>Introdução</h1>
      </ion-item>
      <ion-item routerLink="/miner" routerDirection="root">
        <ion-icon src="../../../assets/icons/bootstrap_gpu-card.svg"></ion-icon>
        <h1>Mineração</h1>
      </ion-item>
      <ion-item routerLink="/tracker" routerDirection="root">
        <ion-icon src="../../../assets/icons/bootstrap_graph-up-arrow.svg"></ion-icon>
        <h1>Simulação</h1>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
